<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

    <style>
    @media (min-width: 200px) {
      .container{
          max-width: 970px;
      }
    }

    body {
      padding-top: 41px;
    }

    /* bootstrap override */
    .container {
      padding: 0 !important;
    }

    .navbar {
      margin-bottom: 0 !important;
    }

    .side-padding {
      padding: 0 10px !important;
    }

    .post-title {
    font-size: 1.95em;
    color: #999;
    }

    .post-info {
    /* padding-bottom: 15px; */
    font-size: .9em;
    color: #999;
    }

    .post-body {
    color: #555;
    }

    /* Navbar */

    .navbar {
    min-height: 40px;
    }

    .navbar-default {
    border-top: 2px solid #0097e6;
    border-bottom: 1px solid #f1f1f1;
    background: #fff;
    }

    .navbar-brand {
    padding: 0 15px;
    height: 40px;
    line-height: 40px;
    }

    .navbar-toggle {
    /* (80px - button height 34px) / 2 = 23px */
    margin-top: 3px;
    padding: 9px 10px !important;
    }

    @media (min-width: 768px) {
    .navbar-nav > li > a {
      /* (80px - line-height of 27px) / 2 = 26.5px */
      padding-top: 6.5px;
      padding-bottom: 6.5px;
      line-height: 27px;
    }

    }

    /*Global*/

    .btn.btn-main {
    border-radius: 0;
    border: 0;
    color: #fff;
    background: #2980b9;
    }

    .btn.btn-main:hover {
    color: #fff;
    background: #216796;
    }

    .btn.btn-default {
    border-radius: 0;
    border: 0;
    color: #666;
    background: #f0f0f0;
    }

    .btn.btn-default:hover {
    color: #f0f0f0;
    background: #bbb;
    }

    .btn.btn-post {
    border-radius: 0;
    border: 0;
    color: #999;
    background: #fff;
    }

    .btn.btn-post:hover {
    color: #555;
    background: #f0f0f0;
    }

    .btn.btn-post-reply {
    border-radius: 0;
    border: 0;
    color: #555;
    background: #fff;
    }

    .btn.btn-post-reply:hover {
    color: #555;
    background: #f0f0f0;
    }

    .fa-padding {
    padding-right: 9px;
    }

    blockquote {
    background: #f9f9f9;
    border-left: 3px solid #ddd;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    font-size: 1em;
    }
    blockquote:before {
    color: #ccc;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
    }
    blockquote p {
    display: inline;
    }

    .right-message {
      /* background: #6BB9F0; */
      border-bottom: 1px solid #ddd;
      width: 100%;
      padding: 5px;
      color: #bbb;
    }

    a.author:link {color:#e84118;}
    a.author:visited {color:#e84118;}
    a.author:hover {color:#c23616;}

    </style>

    <title>Forumly</title>
  </head>
  <body>
    <!-- navbar -->
      <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container side-padding">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">
            <i class="fa fa-code" aria-hidden="true"></i> Forumly
          </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/topics">Topics</a></li>
          </ul>
          <!-- right navigation -->
          <ul class="nav navbar-nav navbar-right">
            <% if(!currentUser){ %>
              <li>
                <a href="/login">Login</a>
              </li>
              <li>
                <a href="/register">Register</a>
              </li>
            <% } else { %>
              <li>
                <a href="/logout">(<%= currentUser.username %>) Logout</a>
              </li>
            <% } %>
            <li><a href="#"><i class="fa fa-pencil" aria-hidden="true"></i></a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user" aria-hidden="true"></i>
              </a>
              <ul class="dropdown-menu">
                <li><a href="#">My Profile</a></li>
                <li><a href="#">Settings</a></li>
                <li><a href="#">Logout</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
