<% include ../partials/header %>

<div class="side-padding">
  
  <h3>New Comment Form for "<%= topic.title %>"</h3>

  <form action="/topics/<%= topic._id %>/comments" method="POST">
    <div class="form-group">
      <label for="text"></label>
      <textarea class="form-control" name="comment[text]" id="text" rows="5"></textarea>
    </div>
    <button class="btn btn-main">Submit post</button>
  </form>

</div>

<% include ../partials/footer %>
