<% include partials/header %>

<div class="side-padding">
  <div class="page-header">
    <h1>Welcome to Forumly</h1>
  </div>

  <a href="/topics" class="btn btn-lg btn-main">
    <i class="fa fa-comments-o" aria-hidden="true"></i> View Topics
  </a>
</div>


<% include partials/footer %>
