@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@media (min-width: 1000px) {
  .container {
    max-width: 900px;
  }
}

body {
  padding-top: 61px;
  color: #444;
}

.navbar {
  margin-bottom: 0 !important;
  min-height: 50px;
  font-size: 1.4em;
  font-weight: 600;
}

.navbar-default {
  background-color: #468;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover {
    color: #fff;
    font-size: 1.7em;
    font-weight: 100;
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #468;
    background-color: #f1f1f1;
}

.navbar-brand {
  padding: 0 15px;
  height: 50px;
  line-height: 50px;
  font-family: 'Slabo 27px', serif;
}

.navbar-toggle {
  margin-top: 8px;
  padding: 9px 10px !important;
}


@media (min-width: 768px) {
.navbar-nav > li > a {
  padding-top: 11.5px;
  padding-bottom: 11.5px;
  line-height: 28px;
  }
}

.btn {
  border: 0;
}

.btn.btn-main {
  color: #fff;
  background: #468;
}

.btn.btn-main:hover {
  color: #f1f1f1;
  background: #468;
}

.btn.btn-default {
  border: 1px solid #468;
  color: #468;
  background: #fff;
  transition: .2s;
}

.btn.btn-default:hover {
  color: #fff;
  background: #468;
}

.btn.btn-post {
  border-radius: 0;
  border: 0;
  color: #999;
  background: #fff;
}

.btn.btn-post:hover {
  color: #555;
  background: #f0f0f0;
}

.fa-padding {
  padding-right: 9px;
}

blockquote {
  background: #f9f9f9;
  border-left: 3px solid #ddd;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  font-size: 1em;
}

blockquote:before {
  color: #ccc;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote p {
  display: inline;
}

/*
main
*/

.right-message {
  border-bottom: 1px solid #ddd;
  width: 100%;
  padding: 5px;
  color: #bbb;
}

.round {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  -khtml-border-radius: 2px;
  border-radius: 2px;
}

/* post index */

.post-index {
  padding-bottom: 10px;
  color: #555;
  line-height: 120%;
  font-size: .9em;
}

.post-index p {
  margin: 0;
}

/* post author link */

a.author:link {color:#3d3d3d;}
a.author:visited {color:#3d3d3d;}
a.author:hover {color:#4b4b4b;}

/* post show */

.post-box {
  padding: 5px;
  border: 1px solid #eaeaea;
  background-color: #fafafa;
}

.post-body {
  max-width: 900px;
  margin-top: 5px;
  padding: 5px 10px;
  background-color: #fff;
  color: #555;
  border: 1px solid #eaeaea;
}

.post-info {
  font-size: .9em;
  color: #999;
  line-height: 120%;
}

.post-title {
  font-size: 1.45em;
}

.post-links {
  font-size: .8em;
  color: #777;
  padding-top: 5px;
}

/* comments */

.comment-box {
  max-width: 900px;
  margin-bottom: 6px;
  color: #555;
}

a:link, a:visited {
    color: #468;
}

a:hover {
    color: #444;
}

.form-control {
  padding: 20px 10px;
  font-size: 1.4em;
  background-color: #eeeeef;
}
