<% include ../partials/header %>

<div class="post-title side-padding"><h3>
  Topics
</h3></div>
<div class="side-padding">
  <a class="btn btn-main" href="/topics/new">Add new</a>
</div>
<hr style="margin: 5px 0" />


<div class="row">
  <div class="col-md-9">
    <% topics.forEach(function(topic){ %>
      <div class="row side-padding post-comment">
        <!--<div class="col-md-1">
          <% if(topic.image) { %>
            <img src="<%= topic.image %>" height="50" width="50" />
          <% } %>
        </div>-->
        <div class="col-md-12" style="padding-bottom: 5px; color: #555">
          <a href="/topics/<%= topic._id %>"><h4><%= topic.title %></h4></a>
          <%= topic.author.username %>
        </div>
      </div>
    <% }) %>
  </div>
  <div class="col-md-3">
  </div>
</div>


<% include ../partials/footer %>
