<% include ../partials/header %>

<h1>Topics INDEX</h1>

<p>
  <a class="btn btn-danger" href="/topics/new">Add new</a>
</p>

<% topics.forEach(function(topic){ %>
  <a href="/topics/<%= topic._id %>">
    <li><%= topic.title %><img src="<%= topic.image %>" height="50" width="50"></li>
  </a>
<% }) %>

<% include ../partials/footer %>
